@import 'variables';
@import 'general';

/* Header
===================*/
.header {
    background-color: rgba(9, 9, 9, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3000;
    padding: 1rem 0;
    transition: background-color .3s linear;

    @media(max-width: $tablet-sm) {
        padding: 2rem 0;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &.fixed {
        position: fixed;
        background-color: $dark;
        box-shadow: $shadow;
    }
}

.mini-header {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: lighten($dark, 20%);
    z-index: 2999;
    width: 100vw;
    height: 100%;
    max-width: 400px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right .4s ease;
    box-shadow: $shadow;

    @media(max-width: $mobile) {
        max-width: none;
    }

    &.active {
        right: 0;
    }

    &__content {
        margin-top: 10rem;

        .center {
            margin-bottom: 3rem;
        }
    }

    &__phone {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__tel {
        color: $white;
        margin-top: 1rem;
    }

    &__language {
        margin-top: 2rem;
    }

    &__lang {
        color: $white;
        margin-left: 1rem;
        font-size: 1.5rem;

        &.active {
            border-bottom: 2px solid $accent;
        }
    }

}

.mini-nav {
    &__item {
        width: 100%;
        display: flex;
        margin-bottom: 2rem;
    }

    &__link {
        color: $white;
        flex-basis: 75%;
    }

    &__icon {
        flex-basis: 15%;
    }
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: center;
    width: 2.5rem;
    height: 1.5rem;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 3005;

    &:focus {
        outline: none;
    }

    @media (max-width: $tablet-sm) {
        display: flex;
    }

    &__open .burger__line {
        background-color: transparent;

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }
    }

    &__line {
        height: 2px;
        width: 100%;
        background-color: $accent;
        transition: background-color .3s linear;

        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            transform: translateY(.73rem);
            background-color: $accent;
            transition: transform .3s linear;
        }

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            position: absolute;
            transform: translateY(-.73rem);
            background-color: $accent;
            transition: transform .3s linear;
        }
    }
}

.header-nav {
    display: flex;
    max-width: 730px;
    width: 100%;
    justify-content: space-between;
    margin-left: 2rem;

    @media(max-width: $tablet-sm) {
        display: none;
    }

    &__item {
        display: flex;
    }

    &__link {
        color: $white;
        font-family: $text2;
        font-size: 1.6rem;
        font-weight: 400;
    }


    &__icon {
        margin-left: 0.7rem;
        margin-top: 5px;
    }
}

.header-info {
    display: flex;
    max-width: 220px;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    @media(max-width: $laptop-sm) {
        justify-content: center;
        flex-basis: 10%;
    }

    @media(max-width: $tablet-sm) {
        display: none;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__phone {
        @media(max-width: $laptop-sm) {
            display: none;
        }
    }

    &__number {
        color: $white;
        font-size: 1.4rem;
        margin-bottom: 4px;
    }
}

.lang {


    &__link {
        display: block;
        color: $white;
        padding-bottom: 1px;
        margin-top: 0.3rem;
        font-size: 1.4rem;

        &:first-child {
            margin-top: 0;
        }

        &.active {
            border-bottom: 2px solid $accent;
        }
    }
}


/* Hero
===================*/
.hero {
    background: url('../img/main/hero-bg.png') no-repeat top center;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    align-items: center;

    &__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        @media(max-width: $tablet) {
            justify-content: center;
        }
    }

    &__h1 {
        font-size: 3.4rem;
        font-weight: 700;
        color: $white;
        line-height: 1.4;
        text-transform: uppercase;

        @media(max-width: $tablet-lg) {
            font-size: 3rem;
        }

        @media(max-width: $mobile) {
            font-size: 2.4rem;
        }
    }

    &__content {
        max-width: 560px;
        width: 100%;
        height: auto;
        margin-top: 10rem;

        @media(max-width: $tablet-sm) {
            margin-top: 0;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $mobile) {
            justify-content: center;
        }
    }

    &__btn {
        max-width: 270px;
        width: 100%;

        @media(max-width: $mobile) {
            max-width: 400px;
            flex-basis: 100%;
            margin-top: 1.5rem;
        }

        button {
            width: 100%;
        }
    }

    &__text {
        color: $white;
        font-family: $heading;
        font-weight: 600;
        line-height: 1.7;
        font-size: 1.6rem;
        margin: 2rem 0;

        @media(max-width: $laptop) {
            font-size: 1.4rem;
        }
    }
}

/* Services
===================*/
.services {
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 5rem 0 8rem;

        @media(max-width: $tablet) {
            margin: 3rem 0;
        }
    }


    &__item {
        flex-basis: 30%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media(max-width: $tablet-lg) {
            flex-basis: 32%;
        }

        @media(max-width: $tablet) {
            flex-basis: 100%;
            margin-top: 2rem;
        }
    }

    &__h4 {
        font-weight: 600;
        font-size: 2.2rem;
        margin: 1rem 0;

        @media(max-width: $tablet-lg) {
            font-size: 1.8rem;
        }

        @media(max-width: 810px) {
            font-size: 1.6rem;
        }
    }

}

/* About
===================*/
.about {
    background-color: $light-gray;

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin: 2rem 0;

        @media(max-width: $tablet-lg) {
            justify-content: center;
        }
    }
}

.about-left {
    flex-basis: 50%;

    @media(max-width: $tablet-lg) {
        flex-basis: 100%;
    }

    &__h3 {
        font-weight: 700;
        font-size: 5rem;

        @media(max-width: $laptop-lg) {
            font-size: 4rem;
        }

        @media(max-width: $laptop-sm) {
            font-size: 3rem;
        }

        @media(max-width: $tablet-lg) {
            text-align: center;
        }

        @media(max-width: $mobile) {
            font-size: 2rem;
        }
    }


    &__text {
        margin: 2rem 0;
    }
}


.about-right {
    flex-basis: 45%;

    @media(max-width: $tablet-lg) {
        flex-basis: 60%;
    }

    @media(max-width: $mobile) {
        flex-basis: 90%;
    }

    img {
        display: block;
        width: 100%;
        height: auto;
    }
}

/* Accreditation
===================*/
.accreditation {
    background-color: $light;

    &__text {
        margin-bottom: 1rem;
    }


    &__list {
        margin-left: 3rem;
    }


    &__item {
        list-style: disc;
    }

    &__icon {
        margin-top: 3rem;
    }
}

/* FAQ
===================*/
.accordion {
    margin: 2rem 0;

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0;
        border-bottom: 2px solid $light-gray-alt;
    }


    &__h4 {
        font-weight: 700;
        font-size: 2rem;
        flex-basis: 80%;

        @media(max-width: $laptop-lg) {
            font-size: 1.8rem;
        }

        @media(max-width: $tablet-lg) {
            font-size: 1.6rem;
        }
    }

    &__icon {
        flex-basis: 10%;
        display: flex;
        justify-content: flex-end;
    }

    &__answer {
        max-width: 850px;
        margin: 2rem 0;
    }
}


/* Registration
===================*/
.registration {
    background-color: $light-gray;
    padding: 7rem 0;

    &__line {
        background-color: $dark;
        height: 100%;
        width: 5px;

    }

    &__item {
        margin-top: 3rem;
    }

    &__content {
        margin: 5rem 0 5rem 4rem;
        border-left: 2px solid $border;

        @media(max-width: $mobile-sm) {
            border: none;
            margin: 5rem 0 5rem 0;
        }
    }


    &__text {
        span {
            font-weight: 600;
        }
    }


    &__box {
        box-shadow: $shadow2;
        padding: 2.5rem 1.8rem;
        border-radius: .8rem;
        margin: 2rem 0 0 8rem;
        background-color: $white;

        @media(max-width: $tablet-sm) {
            margin: 2rem 0 0 2rem;
        }

        @media(max-width: $mobile-sm) {
            margin: 2rem 0 0 0;
        }

    }

    &__h4 {
        font-weight: 600;
        font-size: 3rem;
        margin-bottom: 1rem;

        @media(max-width: $laptop-xl) {
            font-size: 2.4rem;
        }

        @media(max-width: $laptop-lg) {
            font-size: 2rem;
        }

        @media(max-width: $tablet-sm) {
            font-size: 1.8rem;
        }
    }

    &__download {
        text-decoration: underline;
        font-weight: 600;
    }

    &__list {
        margin-left: 3rem;
    }

    &__li {
        list-style: disc;

        span {
            font-weight: 600;
        }
    }

    &__phone {
        font-weight: 600;
        text-decoration: underline;
    }
}

.registration-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 270px;
    margin-left: -4.5rem;

    @media(max-width: $mobile-sm) {
        margin-left: 0;
    }

    &__icon {
        img {
            background-color: $light-gray;
        }

        @media(max-width: $mobile-sm) {
            display: none;
        }
    }

    &__step {
        background-color: $light-success;
        font-family: $text;
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem 4rem;
        display: inline-block;
        border-radius: .5rem;

        @media(max-width: $laptop-xl) {
            font-size: 1.8rem;
        }


    }
}

/* Contact
===================*/
.contact {


    &__wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }


    &__content {
        max-width: 1000px;
        width: 100%;
        margin: 2rem auto;
        box-shadow: $shadow2;
        display: flex;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;

        @media(max-width:870px) {
            justify-content: center;
        }
    }
}

.contact-left {
    flex-basis: 65%;
    padding: 2rem;

    @media(max-width:870px) {
        flex-basis: 100%;
    }

    @media(max-width: $mobile) {
        padding: 1rem;
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__h3 {
        font-size: 1.6rem;
        font-weight: 600;
        margin-right: 3rem;

        @media (max-width: 340px) {
            font-size: 1.2rem;
        }
    }

    &__group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width:$mobile-sm) {
            justify-content: center;
        }
    }

    &__left {
        flex-basis: 45%;

        @media(max-width:$mobile-sm) {
            flex-basis: 95%;
        }
    }

    &__right {
        flex-basis: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        @media(max-width:$mobile-sm) {
            flex-basis: 95%;
        }

        textarea {
            resize: none;
            box-sizing: border-box;
        }
    }

}

.input-text {
    width: 100%;
    border: none;
    border-bottom: 1px solid $border;
    font-family: $heading;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 0;
    margin: 2rem 0;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

.contact-right {
    flex-basis: 35%;
    background-color: $light-blue;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media(max-width:870px) {
        flex-basis: 100%;
    }


    &__h5 {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
    }

    &__group {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        max-width: 250px;
        width: 100%;
    }

    &__icon {
        flex-basis: 20%;
    }

    &__text {
        flex-basis: 80%;
        line-height: 1.4;
        font-weight: 500;
        font-size: 1.3rem;

        span {
            font-weight: 600;
        }
    }

    &__link {
        font-family: $text2;
        margin-right: 1rem;
        line-height: 1.7rem;
        transition: color .3s linear;
        display: block;

        &:hover {
            color: $white;
        }
    }
}

.social {
    max-width: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;

    &__link {
        transition: transform .2s linear;

        &:hover {
            transform: translateY(-.3rem);
        }
    }
}

.contact-header {


    &__h4 {
        max-width: 1000px;
        margin: 2rem auto;
        font-weight: 600;
        font-size: 2.2rem;
    }


    &__text {
        max-width: 260px;
        font-weight: 600;
    }
}




/* Footer
===================*/
.footer {
    padding: 3rem 0 5rem;
    background-color: $light-gray;

    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: relative;
    }

    &__left {
        flex-basis: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @media(max-width: $tablet) {
            flex-basis: 100%;
            margin-bottom: 3rem;

            @media(max-width: $mobile-xs) {
                margin-bottom: 1rem;
            }
        }

        @media(max-width: $mobile-xs) {
            justify-content: center;
        }
    }

    &__right {
        position: absolute;
        bottom: 0;
        right: 0;

        @media(max-width: $tablet) {
            bottom: -3rem;
        }

        @media(max-width: $mobile-xs) {
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

    }

    &__row {
        &:first-child {
            flex-basis: 42%;

            @media(max-width: $tablet) {
                flex-basis: 100%;
            }
        }

        &:nth-child(2) {
            flex-basis: 15%;
            margin-left: 5rem;

            @media(max-width: $tablet) {
                flex-basis: 40%;
                margin-left: 0;
            }

            @media(max-width: $mobile-xs) {
                flex-basis: 100%;
            }
        }

        &:last-child {
            flex-basis: 27%;

            @media(max-width: $tablet) {
                flex-basis: 60%;
            }

            @media(max-width: $mobile-xs) {
                flex-basis: 100%;
            }
        }
    }


    &__text {
        flex-basis: 88%;
        font-size: 1.4rem;
        margin: 2rem 0 1rem;
    }



    &__h3 {
        font-weight: 600;
        font-size: 1.8rem;
        margin: 3rem 0 2rem 0;
    }


    &__link {
        display: block;
        margin-top: 1rem;
    }


    &__group {
        display: flex;
        margin-bottom: 1rem;
    }


    &__icon {
        flex-basis: 12%;
        margin-right: .5rem;
    }

    &__copy {
        font-size: 1.4rem;
        font-weight: 600;
    }

}

.footer-social {
    display: flex;
    justify-content: flex-end;

    &__icon {
        margin-left: 1.5rem;
    }
}

.footer-alm {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    @media(max-width: $tablet) {
        margin-top: 1rem;
    }

    &__text {
        @media(max-width: $mobile-xs) {
            flex-basis: 100%;
            text-align: center;
        }
    }

    &__logo {
        margin-left: 1rem;

        @media(max-width: $mobile-xs) {
            flex-basis: 100%;
            margin-top: 1rem;
            text-align: center;
        }
    }
}